@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tamagotchi Hotel</h1>
    <p class="lead">Klik hier onder om de nacht te starten</p>
    <p><a onclick="location.href='@Url.Action("", "Night")'" class="btn btn-primary btn-lg">Start Nacht</a></p>
</div>

<div class="row">
    Hier komt een overzicht met tamagotchis (die een boeking hebben atm)
</div>